<h1>
    Welcome {{name}}!
    What would you like to do today?
    <button>View My Listings</button>
    <button>Create New Listings</button>
    <button>Find a Space</button>

    <!-- <form action="{{url_for('view_listings')}}">
        <input type  = "submit" value = "View My Listings">
    </form>
    <form action="{{url_for('create_listing')}}">
        <input type  = "submit" value = "Create New Listing">
    </form>
    <form action="{{url_for('find_space')}}">
        <input type  = "submit" value = "Find a Space">
    </form> -->
</h1>